# Ignore virtual environment
venv/
backend/venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Common ignores
.DS_Store
.idea/
.vscode/

static/historical_data/
historical_data/
**/static/historical_data/
